body {
  margin: 0;
  padding: 0; }

.albumCollection {
  width: 75%;
  vertical-align: top;
  text-align: center;
  padding: 0;
  margin: auto; }

h1 {
  text-align: center;
  padding-top: 5px;
  color: white; }

header {
  height: 50px;
  margin-top: -21px;
  background-color: #3b5998; }

.hidden {
  display: none; }

.home {
  padding-top: 30px;
  width: 75%; }

.albums {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  height: 235px;
  background-color: #4C4C4D;
  margin: 20px; }

.single-album {
  width: 80%;
  vertical-align: top;
  text-align: center;
  padding: 0;
  margin: auto; }

.pics {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: 250px;
  background-color: red;
  margin: 4px;
  margin-top: 75px; }

.pic {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: 250px;
  background-color: blue;
  margin: 4px;
  margin-top: 75px; }

p {
  color: white; }

aside {
  width: 15%;
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 0; }
  aside ul {
    margin: 0;
    padding: 0; }
    aside ul > li {
      display: list-item;
      padding: 20px;
      text-align: center; }
      aside ul > li:hover {
        background-color: gray; }
        aside ul > li:hover a {
          color: white; }
    aside ul a {
      text-decoration: none;
      color: #3b5998; }

img {
  width: 100%; }
