body {
  margin: 0;
  padding: 0;
}

.albumCollection {
  width: 75%;
  vertical-align: top;
  text-align: center;
  padding: 0;
  margin: auto;
}

h1 {
  text-align: center;
}

// .content-body {
//   width: 100%;
//   display: inline-block;
//   text-align: center;
// }

.home {
  padding-top: 30px;
  // display: inline-block;
  width: 75%;
}

.albums {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  height: 235px;
  // overflow: hidden;
  background-color: #4C4C4D;
  margin: 20px;
}

p {
  color: white;
}

aside {
  width: 15%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  margin-top: 100px;
  ul {
    margin: 0;
    padding: 0;
    &> li {
      display: list-item;
      padding: 20px;
      text-align: center;
      &:hover{
        background-color: gray;
        a {
          color: white;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }
}

img {
  width: 100%;
}

// .san-gimignano, .toledo, .portofino, .g-code-holsters, .mercedes-amg, .rockwell {
//   width: 25%;
//   height: 350px;
//   img {
//     width: 100%;
//   }
// }
