<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Photo Albums</title>
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
    <script type="text/html" id="photoAlbumTmpl">
      <section class="pics">
        <img src="<%= photo1 %>">
        <img src="<%= photo2 %>">
        <img src="<%= photo3 %>">
      </section>
    </script>
  </head>
  <body>
    <header><h1></h1></header>
    <aside>
      <div class="box">
        <nav>
          <ul>
            <li><a href="" rel="home">Home</a></li>
            <li><a href="" rel="san-gimignano">San Gimignano</a></li>
            <li><a href="" rel="toldeo">Toledo</a></li>
            <li><a href="" rel="portofino">Portofino</a></li>
            <li><a href="" rel="g-code-holsters">G-Code Holsters</a></li>
            <li><a href="" rel="mercedes-amg">Mercedes AMG</a></li>
            <li><a href="" rel="rockwell">Rockwell</a></li>
          </ul>
        </nav>
      </div>
    </aside>
    <section class="home">
      <section class="albums">
        <section class="san-gimignano active-section">

        </section>
        <section class="toledo">

        </section>
        <section class="portofino">

        </section>
        <section class="g-code-holsters">

        </section>
        <section class="mercedes-amg">

        </section>
        <section class="rockwell">

        </section>
      </section>
    </section>
    <footer></footer>















    <!-- lib files -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- app files -->
    <script src="photo-album.js"></script>
    <script src="app.js"></script>

  </body>
</html>
