<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Photo Albums</title>
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
    <script type="text/html" id="albumsViewTmpl">
      <article class="albums" data-index="">
        <img src="<%= photo1 %>">
        <p><%= albumName %></p>
      </article>
    </script>
  </head>
  <body>
    <header><h1></h1></header>


        <!-- <aside>
          <ul>
            <li><a href="" rel="home">Home</a></li>
            <li><a href="" rel="madrid">Madrid</a></li>
            <li><a href="" rel="toldeo">Toledo</a></li>
            <li><a href="" rel="portofino">Portofino</a></li>
            <li><a href="" rel="cruise">Cruise</a></li>
            <li><a href="" rel="cinque-terre">Cinque Terre</a></li>
            <li><a href="" rel="rockwell">Rockwell</a></li>
          </ul>
        </aside> -->

        <section class="albumCollection hidden active-section">
          <!-- <div class="content-body"> -->
            <section class="albums">
            </section>

            <section class="single-album">
            </section>

        </section>


    <footer></footer>















    <!-- lib files -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- app files -->
    <script src="photo-album.js"></script>
    <script src="app.js"></script>

  </body>
</html>
